// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42
#define HW_POISON_H
#define _FAKE_TYPEDEFS_H 1
#define _FAKE_DEFINES_H 1
#define TARGET_I386 1
#define target_ulong uint32_t
#define CPUArchState struct CPUX86State
#include "panda/cheaders.h"
#include "target/i386/cpu.h"
//#define uint64_t unsigned long
//#define uint32_t unsigned
//#define uint8_t unsigned char
#define TAINTDEBUG
